/semestr 1/lab1/.vs/
/semestr 1/lab1/x64/
/semestr 1/lab2/.vs/
/semestr 1/lab2/x64/
/semestr 1/lab4/.vs/
/semestr 1/lab4/x64/
/semestr 1/lab5/.vs/
/semestr 1/lab5/x64/
/semestr 1/ordo/.vs/
/semestr 1/ordo/x64/